In [1]:
import numpy as np
import pandas as pd

In [2]:
matches = pd.read_csv("matches2.csv")

In [3]:
matches.isnull().sum()

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             4
win_by_runs        0
win_by_wickets     0
player_of_match    4
venue              0
umpire1            0
umpire2            0
dtype: int64

In [4]:
matches['winner'].fillna('Draw', inplace=True)

In [5]:
matches.replace(['Mumbai Indians','Kolkata Knight Riders','Royal Challengers Bangalore','Chennai Super Kings',
                 'Rajasthan Royals','Delhi Capitals','Gujarat Lions','Kings XI Punjab',
                 'Sunrisers Hyderabad','Rising Pune Supergiants','Kochi Tuskers Kerala']
                ,['MI','KKR','RCB','CSK','RR','DC','GL','KXIP','SRH','RPS','KTK'],inplace=True)


matches.head(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,05-04-2017,SRH,RCB,RCB,field,normal,0,SRH,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,06-04-2017,MI,RPS,RPS,field,normal,0,RPS,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,07-04-2017,GL,KKR,KKR,field,normal,0,KKR,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,4,2017,Indore,08-04-2017,RPS,KXIP,KXIP,field,normal,0,KXIP,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,5,2017,Bengaluru,08-04-2017,RCB,DC,RCB,bat,normal,0,RCB,15,0,KM Jadhav,M. Chinnaswamy Stadium,AK Chaudhary,C Shamshuddin

In [6]:
encode = {'team1': {'MI':1,'KKR':2,'RCB':3,'CSK':4,'RR':5,'DC':6,'GL':7,'KXIP':8,'SRH':9,'RPS':10,'KTK':11},
          'team2': {'MI':1,'KKR':2,'RCB':3,'CSK':4,'RR':5,'DC':6,'GL':7,'KXIP':8,'SRH':9,'RPS':10,'KTK':11},
          'toss_winner': {'MI':1,'KKR':2,'RCB':3,'CSK':4,'RR':5,'DC':6,'GL':7,'KXIP':8,'SRH':9,'RPS':10,'KTK':11},
          'winner': {'MI':1,'KKR':2,'RCB':3,'CSK':4,'RR':5,'DC':6,'GL':7,'KXIP':8,'SRH':9,'RPS':10,'KTK':11,'Draw':12}}
matches.replace(encode, inplace=True)
matches.head(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,05-04-2017,9,3,3,field,normal,0,9,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,06-04-2017,1,10,10,field,normal,0,10,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,07-04-2017,7,2,2,field,normal,0,2,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,4,2017,Indore,08-04-2017,10,8,8,field,normal,0,8,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,5,2017,Bengaluru,08-04-2017,3,6,3,bat,normal,0,3,15,0,KM Jadhav,M. Chinnaswamy Stadium,AK Chaudhary,C Shamshuddin

In [7]:
dicVal = encode['winner']
print(dicVal['MI'])
print(list(dicVal.keys())[list(dicVal.values()).index(1)])

1
MI

In [8]:
df_matches = matches[['team1','team2','city','toss_decision','toss_winner','venue','winner']]
df_matches.head(5)

,team1,team2,city,toss_decision,toss_winner,venue,winner
0,9,3,Hyderabad,field,3,"Rajiv Gandhi International Stadium, Uppal",9
1,1,10,Pune,field,10,Maharashtra Cricket Association Stadium,10
2,7,2,Rajkot,field,2,Saurashtra Cricket Association Stadium,2
3,10,8,Indore,field,8,Holkar Cricket Stadium,8
4,3,6,Bengaluru,bat,3,M. Chinnaswamy Stadium,3

In [9]:
df = pd.DataFrame(df_matches)
df.describe()

            team1       team2  toss_winner      winner
count  816.000000  816.000000   816.000000  816.000000
mean     5.084559    5.072304     5.011029    4.868873
std      2.927585    2.835086     2.858826    2.891275
min      1.000000    1.000000     1.000000    1.000000
25%      3.000000    3.000000     2.750000    2.000000
50%      5.000000    5.000000     5.000000    4.000000
75%      8.000000    8.000000     8.000000    8.000000
max     11.000000   11.000000    11.000000   12.000000

In [10]:
#32 cities
df["city"].unique()

array(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bengaluru', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah',
       'Dubai', 'Mohali'], dtype=object)

In [11]:
#35 venues
df["venue"].unique()

array(['Rajiv Gandhi International Stadium, Uppal',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla Ground',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Green Park', 'Sawai Mansingh Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Feroz Shah Kotla Ground Ground'], dtype=object)

In [12]:
df["toss_decision"].unique()

array(['field', 'bat'], dtype=object)

In [13]:
#assigning unique values for cities
cat_list=df["city"]
encoded_data, mapping_index = pd.Series(cat_list).factorize()
print(encoded_data)
print(mapping_index)

[ 0  1  2  3  4  0  5  3  1  5  6  4  2  6  7  5  4  7  0  2  0  3  6  5
  1  2  6  5  1  4  6  8  1  2  8  0  5  1  7  6  7  4  0  7  4  8  0  8
  9  5  7  9  6  1  7  5  4  4  0  4  8  7  5  6 10  0 11  0  8  4 11  5
  8  4  6  7  0 10 11  0  8  5 10  4 11  5  7  6 10  4 11  0 10  8  6  5
  8  7  5  7 10  0  6  4  6  5 11  8  7 11  4  6 10  0  5  5  5 12 12 12
 12 13 14 12 14 12 14 14 13 12 14 13 15 14 14 15 15 16 14 13 17 13 17 16
 14 14 15 15 15 16 18 18 13 17 18 15 15 14 14 14 19 13 17 17 19 15 17 14
 14 15 15 15 17 17  5  5  8  6 11 20  4  6  7  4  7 21 20  5 21 11  5  4
  8  5 20  8  4 20  5  7  5 11  7  6  8 11  5  6  7 22 11 10  6  4  8 22
  4  7 10 22  5 11 10 11 23  4  6 23  7  6  5  5  5  5 11  0 24  7  5  6
 10  4  8  5  0 10  5 11  0  5  6 24  7  5  6  8  5  6  7  0 10 11  7  5
 24  7 10  4 24  6 10 11  5  7  0 11  5 24  0  4  6  5  4  8 10  0  8 10
 11  3  4  5 23  3  5 23 11  5  5 23  7  4  6  5  5 11 11 11  6  5 10  4
 25 10  1 25  4  7  5 11  8  6  7  1  6  4  5 10  4  8  0 11  8 11  7  5
 21 10  1  8  1  7 11  6  7  5 11 21 10  4  1 11  6  8  5  4  7  1  0  5
 10  1  6 11 10  8  4  6  7  5 23  7  0 23  1  0 10  1  4 11 11  6  4  0
  7 11  1  0 10  5  8  4  1  7  5 11  6 10 11  8  4  1 10  7  0  6  4  7
  8 11  4 23  6 11  6 10  5 11 26 10  5  1  0 26 11  1  6  0  4  5 10  4
 10  5  0  8  1  7  1  8 27 10  7  5 27 11  5  8  0 23  1  4  0  7  7  6
  6 28 29 28 28 30 30 29 28 29 30 29 30 30 28 28 29 29 30 28 30 27  5  7
  4 20  7  5  7 21 20  4  7  5 21  4  0 27  4  0 21 20 27  0 20  7  0  6
  8  6 27  5  8  4  6  8  5  6  5  5  4  6 11  1 11  6  7  5  4 20  6  1
 25  5 25  1 20  4  7 20 25  4  7 20  5 11  7  8  6  4 11  7  5  4  0  8
  5 11  6  5  4  5 11  6 26  5 11  0 26  8  5  0  8  5  4  0  5  1 27  6
  5  6  8  4  6  2  7  0  5  8  4  0  8  5  2  1  7  0  2  1  8  0  7  5
  1  7  0  2  1  4  2  6  7  0  4  8 25  6  8 25  4  0 25  4  6  8 25  6
 25  4  9 26 25  9  6 26  4  7  7  4  5 31  6  0 11 10  0  4  5  6  4 31
  6  5 10 31  1  6  4  0 10  7  5  4  0  7  1 10  4  1  4  7  6  3  1  0
  5  3  0 10  6  7 10  3  7  1  5  3  6  5  4  7 10  0  7  1  5  6  6  5
 11  6  5 10  7  6  4  0 31  7  0 11 31 10  5  7  4 11  0  4 10 31 11  5
 10  6  5 31  6  0  5 31  0  7  6 10  7  0  4 10 11  4  6 11 10  7  6  0
  4 11  5 31  7  4 31  5 11 25 25  0 28 30 30 29 28 30 30 28 29 30 28 30
 28 30 28 29 29 30 30 28 28 30 29 28 30 30 28 29 30 30 29 28 30 29 28 30
 28 30 28 30 29 28 30 30 28 29 30 28 30 28 30 29 28 30 28 29 30 28 28 30]
Index(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bengaluru', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion', 'East London',
       'Johannesburg', 'Kimberley', 'Bloemfontein', 'Ahmedabad', 'Cuttack',
       'Nagpur', 'Dharamsala', 'Kochi', 'Visakhapatnam', 'Raipur', 'Ranchi',
       'Abu Dhabi', 'Sharjah', 'Dubai', 'Mohali'],
      dtype='object')

In [14]:
print(mapping_index.get_loc("Mohali"))

31

In [15]:
#assigning unique values for venues
cat_list1=df["venue"]
encoded_data1, mapping_index1 = pd.Series(cat_list1).factorize()
print(encoded_data1)
print(mapping_index1)

[ 0  1  2  3  4  0  5  3  1  5  6  4  2  6  7  5  4  7  0  2  0  3  6  5
  1  2  6  5  1  4  6  8  1  2  8  0  5  1  7  6  7  4  0  7  4  8  0  8
  9  5  7  9  6  1  7  5  4  4  0  4  8  7  5  6 10  0 11  0  8  4 11 12
  8  4  6  7  0 10 11  0  8 12 10  4 11 12  7  6 10  4 11  0 10  8  6  5
  8  7  5  7 10  0  6  4  6  5 11  8  7 11  4  6 10  0  5  5 12 13 13 13
 13 14 15 13 15 13 15 15 14 13 15 14 16 15 15 16 16 17 15 14 18 14 18 17
 15 15 16 16 16 17 19 19 14 18 19 16 16 15 15 15 20 14 18 18 20 16 18 15
 15 16 16 16 18 18 12 21  8  6 11 22  4  6  7  4  7 23 22 21 23 11 21  4
  8 21 22  8  4 22 12  7 21 11  7  6  8 11 21  6  7 24 11 10  6  4  8 24
  4  7 10 24 21 11 10 11 25  4  6 25  7  6 12 12 12 12 11  0 26  7 12  6
 10  4  8 12  0 10  5 11  0 12  6 26  7  5  6  8  5  6  7  0 10 11  7 12
 26  7 10  4 26  6 10 11  5  7  0 11 12 26  0  4  6  5  4  8 10  0  8 10
 11  3  4  5 25  3 12 25 11 12  5 25  7  4  6  5  5 11 11 11  6  5 10  4
 27 10 28 27  4  7  5 11  8  6  7 28  6  4  5 10  4  8  0 11  8 11  7  5
 23 10 28  8 28  7 11  6  7  5 11 23 10  4 28 11  6  8  5  4  7 28  0  5
 10 28  6 11 10  8  4  6  7  5 25  7  0 25 28  0 10 28  4 11 11  6  4  0
  7 11 28  0 10  5  8  4 28  7  5 11  6 10 11  8  4 28 10  7  0  6  4  7
  8 11  4 25  6 11  6 10  5 11 29 10  5 28  0 29 11 28  6  0  4  5 10  4
 10  5  0  8 28  7 28  8 30 10  7  5 30 11  5  8  0 25 28  4  0  7  7  6
  6 31 32 31 31 33 33 32 31 32 33 32 33 33 31 31 32 32 33 31 33 30  5  7
  4 22  7  5  7 23 22  4  7  5 23  4  0 30  4  0 23 22 30  0 22  7  0  6
  8  6 30  5  8  4  6  8  5  6 21  5  4  6 11  1 11  6  7  5  4 22  6  1
 27  5 27  1 22  4  7 22 27  4  7 22  5 11  7  8  6  4 11  7  5  4  0  8
 21 11  6  5  4 21 11  6 29  5 11  0 29  8  5  0  8 21  4  0  5  1 30  6
  5  6  8  4  6  2  7  0  5  8  4  0  8  5  2  1  7  0  2  1  8  0  7  5
  1  7  0  2  1  4  2  6  7  0  4  8 27  6  8 27  4  0 27  4  6  8 27  6
 27  4  9 29 27  9  6 29  4  7  7  4  5  8  6  0 11 10  0  4  5  6  4  8
  6  5 10  8  1  6  4  0 10  7  5  4  0  7  1 10  4  1  4  7  6  3  1  0
  5  3  0 10  6  7 10  3  7  1  5  3  6  5  4  7 10  0  7  1  5  6  6  5
 11  6  5 10 34  6  4  0  8 34  0 11  8 10  5 34  4 11  0  4 10  8 11  5
 10  6  5  8  6  0  5  8  0 34  6 10 34  0  4 10 11  4  6 11 10 34  6  0
  4 11  5  8 34  4  8  5 11 27 27  0 31 33 33 32 31 33 33 31 32 33 31 33
 31 33 31 32 32 33 33 31 31 33 32 31 33 33 31 32 33 33 32 31 33 32 31 33
 31 33 31 33 32 31 33 33 31 32 33 31 33 31 33 32 31 33 31 32 33 31 31 33]
Index(['Rajiv Gandhi International Stadium, Uppal',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla Ground',
       'Punjab Cricket Association IS Bindra Stadium, Mohali', 'Green Park',
       'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
       'Dr DY Patil Sports Academy', 'Newlands', 'St George's Park',
       'Kingsmead', 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
       'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Feroz Shah Kotla Ground Ground'],
      dtype='object')

In [16]:
print(mapping_index1.get_loc("Feroz Shah Kotla Ground Ground"))

34

In [17]:
##assigning unique values for venues
cat_list2=df["toss_decision"]
encoded_data2, mapping_index2 = pd.Series(cat_list2).factorize()
print(mapping_index2)
print(mapping_index2.get_loc("field"))

Index(['field', 'bat'], dtype='object')
0

In [18]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['city','toss_decision','venue']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])

In [19]:
df.head(10)

   team1  team2  city  toss_decision  toss_winner  venue  winner
0      9      3    14              1            3     23       9
1      1     10    26              1           10     17      10
2      7      2    28              1            2     25       2
3     10      8    15              1            8     12       8
4      3      6     2              0            3     15       3
5      7      9    14              1            9     23       9
6      2      1    23              1            1     34       1
7      3      8    15              0            3     12       8
8      6     10    26              1           10     17       6
9      9      1    23              1            1     34       1

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold   
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

def classification_model(model, data, predictors, outcome):
      model.fit(data[predictors],data[outcome])
      predictions = model.predict(data[predictors])
      print(predictions)
      accuracy = metrics.accuracy_score(predictions,data[outcome])
      print('Accuracy : %s' % '{0:.3%}'.format(accuracy))

In [21]:
#Random forest classifier
model = RandomForestClassifier(n_estimators=100)
outcome_var = ['winner']
predictor_var = ['team1', 'team2', 'city','toss_decision','toss_winner','venue']
classification_model(model, df,predictor_var,outcome_var)

C:\Users\Arvindh22\Anaconda3\Anaconda\lib\site-packages\ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

[ 9 10  2  8  3  9  1  8  6  1  2  1  7  2  8  1  3  2  9  3  6  1  7  1
 10  8  3 10  2  7  2  9 10  1  8  9  1 10  6 10  6  8 10  1  2  7  9  8
  6  8 12  9  1 10  3 10  2  1  1  3  4  6  1  2  5  6  1  5  8 12  4  1
  8  4  1  3  9  5  4  3  2  1  5  3  9  1  4  2  5  1  4  9  5  8  2  1
  8  9  1  8  3  1  4  6  5  8  4  9  1  4  3  2  5  4  5  4  5  1  3  6
  9  4  2  9  6  5  3  9  6  8  9  1  5  3  8  6  4  1  3  5  4  8  3  4
  5  6  9  5  4  6  8  4  1  6  9  3  1  6  3  5  8  4  9  8  6  2  3  2
  4  6  3  9  3  9  2  1  6  2  9  6  3  4  1  3  4  9  5  3  9  8  1  3
  5  1  5  2  3  5  1  2  1  4  6  2  3  4  1  8  6  5  1  5  2  3  8  9
  3  8  5  9  1  4  5  4  9  1  2  4  9  1  1  4  3  4  2  5  3  6 10  2
  5  1  8 10  9  2 11  4  9  6  2 11  9  1 11  8  4  3  8  1  5  4  3  4
  9  2  5  3  6  2  5  4  1 11  9  4  1 11  6  3  4  1  3 10  5 10  8  3
  4  8  3  9  8 11  9  8  4  2  5  9 12  4  1  4  1  3  4  1  6 10  5  6
  4  2 10  1  3  6  1  4  8  2  9  4  2  5  1  5  3  2  6  4  8  4 10  1
  2  5 10  1  9  6  8  2  6  1  2  9  6  3  1  4  2  5  1  3  2  5  9  1
  4  3  1  4  5  8  1  4  6  1  8  3  9  8  2  9  1  2  4  4  2  2  1 10
  6  1 10  9  2  1  4  3 10  9  1  4  2  5 10  8  3  9  1  4  9  4  3  6
  8  4  3  8  1  9  2  5  1  4  6  5  1  4  9  6  4  3  2  9  3  1  5  9
  5  1  4  8  2  3  1  9  2  5  8  9 10  4  1  8  9  8 10  3  9  4  5  1
  1  1  3  8  5  3  6  8  4  8  4  2  9  4  5  8  6  4  8  5  9  4  1  5
  3  5  4  1  2  8  9  8  9  4  2  5  1  4  6  9  2  6  3  2  1  8  9  2
  8  3  9  1  8  3  2  8  1  2  4  8  2  1  4  5  4  3  5  8  3  1  2  6
  5  1  6  2  5  1  6  8  9  4  6  3  1  4  3  9  2 12  4  6  1  3  9  8
  5  4  2  1  3  9  1  2  9  1  4  9  6  8  1  3  4  5  3  1  1  3  4  1
  1  2  7  3  1  7  6  2  7  8  6  1  8  1  9  3  6  9  7  2  1 10  6  1
  7  6  9  8  1  2  6  2 10  9  3  6  9  7  8  9  1  6  8  7  2  9  1  3
 10  3  7  6 10  7  2  3  3  9  9  9  4  8  2  9  4  6  1  8  1  2  3  8
  6  1  2  8  4  2  3  4  5  6  1  3  9  6  1  5  2  4  1  5  2  1  4  9
  1  8  9  5  1  9  5  2  3  4  1  3  2  1  3  4  5  2  6  4  4  5  2  4
  4  2  6  5  4  2  1  9  8  6  9  4  8  5  4  9  2  4  1  6  2  8  4  8
  4  6  1  3  4  6  1  8  9  1  2  5  6  9  3  6  4  3  5  1  5  6  1  9
 12  4  1  2  6  3  8  1  1  6  4  1  4  6  3  5  1  8  6  2  5  3  9  2
  1  9  3  6  1  4  6  1  2  9  6  2  3  5  1  3  4  6  8  1  3  6  2  8
  5  8  3  9  1  2  8  3  1  8  9  1  4  8  1  9  4  2  6  9  1  9  6  1]
Accuracy : 85.907%

In [22]:
n = int(input("No. of matches you are going to predict: "))
team1 = []
team2 = []
city = []
toss_decision = []
toss_winner = []
venue = []

for i in range(n):
    user_team1 = input("Enter team 1: ")
    user_team2 = input("Enter team 2: ")
    user_city = input("Enter the city name: ")
    user_tossdecision = input("Enter the toss decision: ")
    user_tosswinner = input("Enter the toss winner: ")
    user_venue = input("Enter the venue: ")
    team1.append(user_team1)
    team2.append(user_team2)
    city.append(user_city)
    toss_decision.append(user_tossdecision)
    toss_winner.append(user_tosswinner)
    venue.append(user_venue)
    
x_new = {'team1':team1,'team2':team2,'city':city,'toss_decision':toss_decision,'toss_winner':toss_winner,'venue':venue}
x_new = pd.DataFrame(x_new)
x_new

No. of matches you are going to predict: 1
Enter team 1: 9
Enter team 2: 3
Enter the city name: 11
Enter the toss decision: 0
Enter the toss winner: 9
Enter the venue: 11

  team1 team2 city toss_decision toss_winner venue
0     9     3   11             0           9    11

In [23]:
x_new_predict = model.predict(x_new)
x_new_predict

array([3], dtype=int64)

In [24]:
predicted_winner=[]
for i in x_new_predict:
    predicted_winner.append(list(dicVal.keys())[list(dicVal.values()).index(i)])

In [25]:
predicted_winner

['RCB']